{% extends 'base.html' %}

{% block title  %}
<h1>WELCOME {{user.username}}!</h1>
{% endblock %}

{% block content %}
{% for msg in get_flashed_messages() %}
<p>{{msg}}</p>
{% endfor %}
Username: {{user.username}}
<br>Email: {{user.email}}
<br>First Name: {{user.first_name}}
<br>Last Name: {{user.last_name}}

<h3>Feedbacks</h3>
<ul>
{% for feed in feedback %}
<li>
    <p>{{feed.title}} </p>
    <p>{{feed.content}}</p>
    <span>
    <a href="/feedback/{{feedback.id}}/update" class="btn btn-primary" role="button">Edit</a>  <a href="/feedback/{{feedback.id}}/update" class="btn btn-danger" role="button">Delete</a></span>
</li>
{% endfor %}
</ul>

<a href="/users/{{user.username}}/delete" class="btn btn-danger" role="button">Delete user</a>

{% endblock %}